* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.body {
    height: 100vh;
    color: #676565;
    scroll-behavior: smooth;
    overflow-y: auto;
}

.content {
    width: 800px;
    margin: auto;
    text-align: justify;
}

.sub-content {
    display: flex;
    margin-bottom: 10px;
}

.image {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.image img {
    width: 85px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
}

h3 {
    margin-bottom: 5px;
    margin-top: 15px;
    font-weight: 400;
}

section.text-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(255, 253, 240);
}



section.text-container .container {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 60px 0;
}

section.video-container {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

section.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

/* Navigation */
nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(255, 253, 237, 0.35);
    backdrop-filter: blur(10px);
    z-index: 999;
}

nav .content {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li+li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 17px;
    color: #4b4b4b;
    font-weight: 400;
}

nav ul li a:target {
    color: rgba(255, 255, 255);
}

nav img.logo {
    width: auto;
    height: 40px;
}

/* Social media buttons */
.social-media-buttons {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    /* Horizontally center the content */
    align-items: center;
    /* Vertically center the content */
    height: 100px;
    /* Set a fixed height for vertical centering */
    margin: auto;
}

.social-media-buttons img {
    width: 36px;
    margin: 5px;
    opacity: 0.6;
}

/* Screen transformation for mobile */
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }

    nav .content {
        width: 100%;
    }

    .image,
    .content-text {
        flex: 0 0 100%;
    }

    * {
        text-align: center;
    }
}